<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About</title>
</head>
<body>
    <div class="conatiner" style="text-align: center">
        {% include 'navbar.html' %}
        
        <h1>This is our about page</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Sunt ullam dignissimos et ducimus odit! Ex, adipisci. Repellendus ipsam, officia aperiam, excepturi aspernatur earum nostrum fuga minima sequi quod ipsa dolorum consectetur dolor molestiae iure! Sequi minus ipsum eveniet saepe quod voluptate id. Exercitationem quam molestias vitae molestiae atque fuga quae.</p>
        <buttton>Contact Us</buttton>
    </div>
</body>
</html>